{%- if push_image_count > 0 -%}
<div class="MegaMenu__Item">
{%- if block.settings.push_1_image != blank or block.settings.push_1_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_1_heading == blank %} MegaMenu__custom_image_width {% endif %} ">
  {%- if block.settings.push_1_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_1_heading_url }}">
  {%- endif -%}
  {%- assign max_width = 370 | at_most: block.settings.push_1_image.width -%}
  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_1_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_1_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_1_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_1_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>
  {%- if block.settings.push_1_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_1_heading | escape }}</p>
  {%- endif -%}
  {%- if block.settings.push_1_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_1_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  
 
  {%- if block.settings.push_1_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}

{%- if block.settings.push_2_image != blank or block.settings.push_2_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_2_heading == blank %} MegaMenu__custom_image_width {% endif %}">
  {%- if block.settings.push_2_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_2_heading_url }}">
  {%- endif -%}

  {%- assign max_width = 370 | at_most: block.settings.push_2_image.width -%}

  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_2_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_2_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_2_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_2_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>

  {%- if block.settings.push_2_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_2_heading | escape }}</p>
  {%- endif -%}

  {%- if block.settings.push_2_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_2_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  

  {%- if block.settings.push_2_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}
{%- if block.settings.push_3_image != blank or block.settings.push_3_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_3_heading == blank %} MegaMenu__custom_image_width {% endif %}">
  {%- if block.settings.push_3_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_3_heading_url }}">
  {%- endif -%}

  {%- assign max_width = 370 | at_most: block.settings.push_3_image.width -%}

  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_3_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_3_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_3_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_3_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>

  {%- if block.settings.push_3_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_3_heading | escape }}</p>
  {%- endif -%}

  {%- if block.settings.push_3_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_3_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  

  {%- if block.settings.push_3_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}
  {%- if block.settings.push_4_image != blank or block.settings.push_4_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_4_heading == blank %} MegaMenu__custom_image_width {% endif %}">
  {%- if block.settings.push_4_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_4_heading_url }}">
  {%- endif -%}

  {%- assign max_width = 370 | at_most: block.settings.push_4_image.width -%}

  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_4_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_4_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_4_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_4_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>

  {%- if block.settings.push_4_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_4_heading | escape }}</p>
  {%- endif -%}

  {%- if block.settings.push_4_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_4_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  

  {%- if block.settings.push_4_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}
  {%- if block.settings.push_5_image != blank or block.settings.push_5_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_5_heading == blank %} MegaMenu__custom_image_width {% endif %}">
  {%- if block.settings.push_5_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_5_heading_url }}">
  {%- endif -%}

  {%- assign max_width = 370 | at_most: block.settings.push_5_image.width -%}

  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_5_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_5_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_5_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_5_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>

  {%- if block.settings.push_5_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_5_heading | escape }}</p>
  {%- endif -%}

  {%- if block.settings.push_5_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_5_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  

  {%- if block.settings.push_5_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}
  {%- if block.settings.push_6_image != blank or block.settings.push_6_heading != blank -%}
<div class="MegaMenu__Push {% if block.settings.push_6_heading == blank %} MegaMenu__custom_image_width {% endif %}">
  {%- if block.settings.push_6_url != blank -%}
    <a class="MegaMenu__PushLink" href="{{ block.settings.push_6_heading_url }}">
  {%- endif -%}

  {%- assign max_width = 370 | at_most: block.settings.push_6_image.width -%}

  <div class="MegaMenu__PushImageWrapper AspectRatio" style="background: url({{ block.settings.push_6_image | img_url: '1x1', format: 'jpg' }}); max-width: {{ max_width }}px; --aspect-ratio: {{ block.settings.push_6_image.aspect_ratio }}">
    <img class="Image--lazyLoad Image--fadeIn"
         data-src="{{ block.settings.push_6_image | img_url: '370x230', scale: 2 }}"
         alt="{{ block.settings.push_6_image.alt | escape }}">

    <span class="Image__Loader"></span>
  </div>

  {%- if block.settings.push_6_heading != blank -%}
    <p class="MegaMenu__PushHeading Heading u-h6">{{ block.settings.push_6_heading | escape }}</p>
  {%- endif -%}

  {%- if block.settings.push_6_subheading != blank -%}
    <p class="MegaMenu__PushSubHeading Heading Text--subdued u-h7">{{ block.settings.push_6_subheading | escape }}</p>
  {%- endif -%}
  {%- if block.settings.push_6_url != blank -%}
    {%- assign main_menu_handle = block.settings.push_6_url -%}
    {%- assign main_menu = linklists[main_menu_handle] -%}
    {%- for sub_link in main_menu.links -%}
      <div class="MegaMenu__Item MegaMenu__Item--fit">
      <a href="{{ sub_link.url }}" class="MegaMenu__Title Heading Text--subdued u-h7">{{ sub_link.title | title }}</a>
      {%- if sub_link.links != blank -%}
      <ul class="Linklist">
        {%- for sub_sub_link in sub_link.links -%}
          <li class="Linklist__Item">
            <a href="{{ sub_sub_link.url }}" class="Link Link--secondary">{{ sub_sub_link.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
      </div>
      {%- endfor -%}
  {%- endif -%}  
  {%- if block.settings.push_6_url != blank -%}
    </a>
  {%- endif -%}
</div>
{%- endif -%}
</div>
{%- endif -%}